<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>

<form  th:action="@{/admin/user-update}" th:object="${user}" th:method="PATCH">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="firstName">First name</label>
  <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
  <br/>
  <label for="lastName">Last name</label>
  <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
  <br/>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email" placeholder="Email">
  <input type="submit" value="Update User">
</form>
<div>
  <div class="float" sec:authorize="isAuthenticated()">
    <form  th:action="@{/logout}" method="post">
      <input type="submit" value="Logout">
    </form>
  </div>
</div>
</body>
</html>